@media only screen and (max-width:576px){
   
    .sliderContent h1{
        font-size:25px;
    }
    .sliderContent p{
        font-size:12px;
    }
    .slider-item {
        height:80vh;
    }
    .slider-item img{
        height:100%;
        object-fit:cover;
    }
    .courseSection{
        margin-top:20px !important;
        padding-top:10px !important;
    }
    .singleCourse{
        text-align:left;
        padding-bottom:15px;
        margin-bottom:10px;
    }
    #studentSection{
        margin-top:0 !important;
        padding-top:0;
    }
    .coursContent{
        padding-left:5px;
    }
   
  .card{
    width:100% !important;
    text-align:center !important;
  }

  .accordion{
   width:100%;
}
#feedback{
    margin-bottom:50px;
}
.accordionPara{
    width:400px;
}
.companySection{
    display:none;
}
.coursContent{
    text-align:left !important;
}

}

@media only screen and (max-width:768px){
    .exploreLeft{
        width:calc(100% + 20%) !important;
        
    }
    .studentTitle{
        text-align:left;
    }
    .studentTitle p{
        width:550px;
    }
    .studentTitle br{
        display:none;
    }
    .card{
        width:100% !important;
        
      }
      .feedbackTitle br{
        display:none;
      }
      .feedbackLeft{
        width:100% !important;
      }
      .accordion{
        width:100%;
     }
     .companySection{
        display:none;
    }
  
}