@media only screen and (max-width:576px){
   
    .sliderContent h1{
        font-size:25px;
    }
   
    .slider-item {
        height:80vh;
    }
    .slider-item img{
        height:100%;
        object-fit:cover;
    }

    
   
    .studentTitle p{
        width:100% !important;
    }
    .coursContent{
        padding-left:5px;
    }
   
  .card{
    width:100% !important;
    
  }

  .accordion{
   width:100%;
}

.accordionPara{
    width:400px;
}


.exploreLeft img{
    max-width:67% !important;
    
}

}

@media only screen and (max-width:768px){
    .exploreLeft{
        width:calc(100% + 50%) !important;
        
    }
    .studentTitle{
        text-align:left;
    }
    .studentTitle p{
        width:550px;
    }
    .studentTitle br{
        display:none;
    }
    .card{
        width:100% !important;
        
      }
      .feedbackTitle br{
        display:none;
      }
      .feedbackLeft{
        width:100% !important;
      }
      .accordion{
        width:100%;
     }
   
 
}