*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
p{
    font-size:14px;
}

/*
================
Slider section styling
==================
*/

.slider-item{
position:relative;
text-align:center;
color:#fff;
z-index:1;


}
.slider-item img{
    max-width:100%;

}
.slider-item:after{
    position:absolute;
    content: "";
    left:0;
    top:0;
    bottom:0;
    right:0;
    background:rgba(0, 0, 0, 0.664);
    z-index: 2;
    width:100%;
}
.sliderContent{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    z-index:3;
}
.sliderContent h1{
    font-size:45px;
    font-weight:700;
    text-transform:capitalize;
}
/*
================
Courses Section styling
==================
*/

.courseTitle{
    margin-bottom:30px;
}
.courseTitle h2{
    font-weight:700;
}
.courseTitle p{
    font-size:14px;
    line-height:20px;
}
.coursContent p{
    font-size:14px;
}
.coursContent h5{
    font-weight:700;
}


/*
================
Ready Section styling
==================
*/

.exploreRightContent p{
    font-size:14px;
}
.exploreBackground{
    background:#F2FAFB;
    margin-left:-12px;
}

.ready p{
    font-size:12px;
}

/*
================
Student Section styling
==================
*/

/*
================
Feedback Section styling
==================
*/

.feedbackLeft p{
    font-size:12px !important;
    text-align:left;
    line-height:22px;
}
.feedbackTop i{
    font-size:12px;
    
}

/*
==================
Accordion Section styling
===================
*/
.accordionTitle p{
font-size:14px;
}
.accordion{
    width:70%;
    margin:0 auto;
}



#companySection{
    margin-top:50px !important;
}